/* Empty. Add your own CSS if you like */
#map {
    width: 100%;
    height: 100%;
}

.scroll {
    height: 100%;
}

#map .centerMarker {
    position: absolute;
    /*url of the marker*/
    background: url(http://maps.gstatic.com/mapfiles/markers2/marker.png) no-repeat;
    /*center the marker*/
    top: 50%;
    left: 50%;
    z-index: 1;
    /*fix offset when needed*/
    margin-left: -10px;
    margin-top: -34px;
    /*size of the image*/
    height: 34px;
    width: 20px;
    cursor: pointer;
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 150px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    z-index: 1;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}
#target {
    width: 245px;
}

.error-container {
    margin: 5px 0;
}

.error-container:last-child {
    margin: 5px 0 0;
}

.error {
    padding: 10px 16px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    color: #555;
    vertical-align: middle;
}

.error i {
    font-size: 24px;
    color: #B83E2C;
    vertical-align: middle;
}

.last-error-container > .error {
    padding: 10px 16px 0;
}

.has-errors {
    border-bottom: 3px solid #B83E2C;
}

.no-errors {
    border-bottom: 3px solid green;
}

.fixed-outside{
    position: absolute;
    bottom: 0;
    color:white;
    width: 100%;
    height:  100px;
    text-align:center;
}

.has-bottom .scroll{
    padding-bottom:80px !important;
}

.button-circle {
    width: 70px !important;
    height: 70px !important;
    border-radius: 50% !important;
}

.popup-head
{
    background-color:#ef473a;

}

.popup-title
{
    color: #fff;
}