<ion-view view-title="Blueteam Verified" >
    <ion-content class="padding">
        <ion-list>

            <ion-item ng-repeat="item in pre" class="item item-text-wrap">
                <div>
                    <p>{{ item }}</p>
                </div>
            </ion-item>

        </ion-list>

        <ion-list>

            <ion-item ng-repeat="item in process" class="item item-text-wrap">
                <div>
                    <p>{{ item }}</p>
                </div>
            </ion-item>

        </ion-list>
        <div class='card'>
            <div style="text-align: center;">
                <i> For queries and issues. Please contact us at<br/>
                    <a class="icon-left ion-ios7-telephone" ng-href="tel: +91 9599075355"><span class="ion-android-call large"></span><b> +91 9599075355 </b> </a> <br />
                    <a href="#" onclick="window.open('mailto:info@blueteam.in','_system')" >info@blueteam.in</a><br />
                    <a href="#" onclick="window.open('http://www.BlueTeam.in','_system')"> www.BlueTeam.in </a>
                </i>
            </div>
        </div>
    </ion-content>
</ion-view>