<ion-view view-title="Contact Us">
    <ion-content class="padding">
        <ion-list>

        <ion-item  class="item item-icon-left" ng-href="tel: +91 9599075355" >
            <span class="icon ion-android-call large calm"> </span>
            Call Us
        </ion-item>

        <ion-item  class="item item-icon-left" onclick="window.open('mailto:info@blueteam.in','_system')">
            <span class="icon ion-email large calm"></span>
            Email Us
        </ion-item>

        <ion-item  class="item item-icon-left" onclick="window.open('http://www.BlueTeam.in','_system')" >
            <span class="icon ion-cloud large calm"></span>
            Website
        </ion-item>
            </ion-list>

    </ion-content>
</ion-view>
