<ion-view view-title="Invoice Details">
    <ion-content class="padding" style="

        overflow-x: hidden ! important;
    background-image: url('./img/ebilling-Icon.png');
    background-size:     contain;                      /* <------ */
    background-repeat: no-repeat;
        background-position: top;
        margin-top: -50px">

        <div class="card" style="border-left: 3px solid lightgreen;">
            <div class="item item-text-wrap">
                Invoice will be recieved by SMS and E-Mail
            </div>

        </div>
        <div class="card" style="border-left: 3px solid greenyellow;">
            <form ng-submit="conf()" name="confirm" >
                <div class="list">

                    <label class="item item-input item-stacked-label ">
                        <span class="input-label">Name</span>
                        <input type="text" name="name" placeholder="enter name" ng-model="data.name" ng-minlength="1" required />
                    </label>

                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Mobile</span>
                        <input type="number" name="mobile" placeholder="mobile"
                               ng-model="data.mobile" ng-minlength="10" ng-maxlength="10" required />

                    </label>

                    <label class="item item-input item-stacked-label ">
                        <span class="input-label">Select Service</span>

                    </label>
                    <ion-list radio-group>

                        <ion-radio ng-model="data.service_id"  ng-value="'{{service.service_id}}'" ng-repeat="service in services">
                            <i class="icon"><img ng-src="http://api.file-dog.shatkonlabs.com/files/rahul/{{service.pic_id}}" class="img-rounded" width="20" height="20">
                            </i>
                                {{service.name | uppercase}}
                        </ion-radio>

                    </ion-list>


                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Amount</span>
                        <input type="number" name="Amount" placeholder="amount"
                               ng-model="data.amount" ng-minlength="2" ng-maxlength="10" required />

                    </label>

                    <label class="item item-input item-stacked-label">

                        <ion-checkbox ng-model="data.service_tax">Service Tax Included</ion-checkbox>

                    </label>


                    <div class="padding">

                        <p ng-show="confirm.mobile.$error.minlength || confirm.mobile.$error.maxlength">* Mobile No. show be of 10 digit.</p>


                    </div>

                    <div class="padding button-bar">
                    <input class="button button-calm" type="submit" name="need now" ng-click="data.send_bill=true" value="Send Bill" nav-direction="forward"
                           ng-disabled="confirm.$invalid">

                    <input class="button button-outline button-calm" type="submit" ng-click="data.send_bill=false" name="need now" value="Add Bill" nav-direction="forward"
                           ng-disabled="confirm.$invalid">
                        </div>

                </div>
            </form>
        </div>

        <div class='card'>
            <div class="item item-text-wrap">
                <div style="text-align: center;">
                    <i> For queries and issues
                    </i>
                    <div class="button-bar">
                        <a class="button button-small button-full ion-ios7-telephone ion-android-call"
                           ng-href="tel: +91 9599075355"> Call</a>
                        <a class="button button-small button-full ion-email"
                           onclick="window.open('mailto:info@blueteam.in','_system')"> Email</a>
                        <a class="button button-small button-full ion-cloud"
                           onclick="window.open('http://www.BlueTeam.in','_system')"> Web</a>

                    </div>
                </div>
            </div>
        </div>




    </ion-content>
</ion-view>
