<ion-view view-title="{{type| uppercase}} POSTS <span class='badge badge-positive' >{{posts.length}}</span>">


    <ion-content has-header="true" class="padding " style="
    
        overflow-x: hidden ! important;
    background-image: url('./img/homepage.jpg');
    background-size:     contain;                      /* <------ */
    background-repeat: no-repeat;
        background-position: top;
    margin-top: -50px">
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
        </ion-refresher>



<!-- invite other helper code -->
        <div class="list card" ng-repeat="post in posts">

            <div class="row">
                <div class="col col-25  positive" style="text-align: center;font-size: 100px" >1</div>
                <div class="col col-25 card positive" >2</div>
                <div class="col col-25 card positive" >3</div>
                <div class="col col-25 card positive" >4</div>
            </div>

        </div>



        <div class='card'>
            <div class="item item-text-wrap">
                <div style="text-align: center;">
                    <i> For queries and issues
                    </i>
                    <div class="button-bar">
                        <a class="button button-small button-full ion-ios7-telephone ion-android-call"
                           ng-href="tel: +91 9599075355"> Call</a>
                        <a class="button button-small button-full ion-email"
                           onclick="window.open('mailto:info@blueteam.in','_system')"> Email</a>
                        <a class="button button-small button-full ion-cloud"
                           onclick="window.open('http://www.BlueTeam.in','_system')"> Web</a>

                    </div>
                </div>
            </div>
        </div>


    </ion-content>
    <div class="fixed-outside">
        <div class="row">
            <div class="col">

            </div>
            <div class="col">
                <button class="button button-circle button-assertive icon ion-plus-circled " style="margin-left: 80px;" ng-click="addPost()"></button>
            </div>
        </div>


    </div>
</ion-view>
